.form-container{
    display: grid;
    place-items: center;
    padding: 2rem;
}
.form-container-holder{
    display: grid;
    place-items: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.form-holder{
    display: flex;
    gap: 1rem;
}   
.form-button{
    display: grid;
    place-items: center;

}
.navbar{
    background: black;
    color: white;
}
.navbar-brand{
    color: white;
    font-weight: bold;
}
.transaction-table-header{
    text-align: center;
}